body{
    font-family: 'Roboto Condensed', sans-serif;
    margin:0px;
}

.name-highlight{
    font-size:50px;
    color:#ff4500;
    font-weight: 900;
}

h2{
    font-size: 40px;
}

p{
    color:#8b008bbd;
}

.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-bottom: 2%;

}
.half-width img{
    width:100%;
}

.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(90deg,blue,cyan);
    padding:15px 25px;
    border-radius: 5px;
    color:wheat;
    font-weight:700;
 }

 .header-bg{
     background-image: url("images/background1.png");
     background-repeat: no-repeat;
 }

 .Biography{
     background-image: url("images/biography-bg.png");
     background-repeat: no-repeat;
 }

 section{
    height: 500px;
    padding-bottom: 100px;
}

 .text-center{
     text-align:center;
 }

 .image-width{
        width: 27%;
        float: left;
        margin-left:5%;
        padding-bottom: 2%;
    
    }
 
.image-width img{
     width:100%;
 }

 .latest-work{
     background-image: url("images/latest-work-bg.png");
     background-repeat: no-repeat;
 }

 .client-say{
     width:27%;
     float: left;
     margin-left:5%;
     padding-bottom: 2%;
     box-shadow: 10px 10px 40px gray;
     background-color: white;
 }

 .client-say p{
     text-align: justify;
 }

.email{
    margin-left:360px;
    margin-top: 50px;
    background-image: linear-gradient(90deg,blue,cyan);
    width:35%;
    height:110px;
    padding:25px;
    border-radius: 10px;
}

.center{
    text-align: center;
    color: wheat;
    text-decoration: ;
}

.footer-bg{
    background-image: url("images/footer-bg.png");
    background-repeat:no-repeat;
}

footer p{
    text-align: center;
    font-size: 10px;
    color:#ff000069;
}